# IDE configuration files
.idea/
.vscode/

# Composer dependencies
/vendor/

# Test tool output
/reports/

# Temporary
/docs/

# PHPUnit fragment
.phpunit.result.cache

# PHPDocumentor cache
.phpdoc/

# PHPDocumentor PHAR, will be downloaded after composer install
phpdoc.phar
